// Grand Central Station
@import 'google-homepage';

body {
    background: white;
}

// First Frame

img#shutter {
    transform: scale(.5);
    transition: transform .5s;
}

img#camera {
    transform: scale(.5);
    transition: transform .5s;
}

img#film {
    transform: scale(.5);
    transition: transform .5s;
}

img#oscar {
    position: absolute;
    top: 75px;
    right: 500px;
    transform: scale(.5);
    transition: transform .5s;
}

img#letter {
    position: absolute;
    top: 75px;
    transform: scale(.5);
    transition: transform .5s;
}

img#logo {
    position: absolute;
    transform: scale(.5);
    transition: transform .5s;
}

// Last Frame
img#line:hover {
    transform: scale(1.5)
    
}